// Variables

$base-color: #c6538c;
$base-dark: rgba($base-color, 0.88);
$font: "Open Sans", sans-serif;

//

body {
  font-family: $font;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100px;
  place-items: center;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 70px;
}

.social {
  height: 20px !important;
  width: 20px;
  margin: 5px;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.links {
  margin: 5px;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.toggleBtn {
  display: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.toggleDown {
  display: none;
  float: right;
  text-align: right;

  a {
    display: block;
    width: auto;
    padding: 5px 10px;
    &:hover,
    &:focus {
      background-color: rgb(178, 178, 244);
    }
  }
}

main {
  height: 70vh;
  width: 100%;
  box-shadow: 1px 2px 8px grey;
  display: flex;
  justify-content: center;
  place-items: center;
}

@media screen and (max-width: 650px) {
  .socialNav {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .toggleNav {
    display: none;
  }

  .toggleBtn {
    display: block;
  }
}
